<h1 align='center'>Assignment No 20</h1>

Q1 Create a function that takes a list of strings and integers, and filters out the list so that it<br>
returns a list of integers only.<br>
Examples<br>
filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]<br>
filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]<br>
filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

In [ ]:
def filter_list(ls):
  new_ls = []
  for i in ls:
    if type(i)==int:
      new_ls.append(i)
  return new_ls

print(filter_list([1, 2, 3, "a", "b", 4]))
print(filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]))
print(filter_list(["Nothing", "here"]))

[1, 2, 3, 4]
[0, 1729]
[]

Q2 Given a list of numbers, create a function which returns the list but with each element&#39;s<br>
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the<br>
number at index 1, etc...<br>
Examples<br>
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]<br>
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]<br>
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [ ]:
def add_indexes(ls):
  new_ls = []
  for i in range(len(ls)):
    new_ls.append(i+ls[i])
  return new_ls

print(add_indexes([0, 0, 0, 0, 0]))
print(add_indexes([1, 2, 3, 4, 5]))
print(add_indexes([5, 4, 3, 2, 1]))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]
[5, 5, 5, 5, 5]

Q3 Create a function that takes the height and radius of a cone as arguments and returns the<br>
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.<br>

Examples<br>
cone_volume(3, 2) ➞ 12.57<br>

cone_volume(15, 6) ➞ 565.49<br>
cone_volume(18, 0) ➞ 0

In [2]:
def cone_volume(height,radius):
  return round(3.14*(radius**2)*(height/3),2)

print(cone_volume(3,2))
print(cone_volume(15,6))
print(cone_volume(18,0))

12.56
565.2
0.0

Q4 This Triangular Number Sequence is generated from a pattern of dots that form a triangle.<br>
The first 5 numbers of the sequence, or dots, are:<br>
1, 3, 6, 10, 15<br>
This means that the first triangle has just one dot, the second one has three dots, the third one<br>
has 6 dots and so on.<br>
Write a function that gives the number of dots with its corresponding triangle number of the<br>
sequence.<br>
Examples<br>
triangle(1) ➞ 1<br>
triangle(6) ➞ 21<br>
triangle(215) ➞ 23220<br>

In [7]:
def triangle(num):
  return int(num*(num+1)/2)

print(triangle(1))
print(triangle(6))
print(triangle(215))

1
21
23220

Q5 Create a function that takes a list of numbers between 1 and 10 (excluding one number) and<br>
returns the missing number.<br>
Examples<br>
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5<br>
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10<br>
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7<br>

In [10]:
def missing_num(ls):
  for i in range(1,11):
    if i not in ls:
      return i

print(missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]))
print(missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]))
print(missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]))

5
10
7